@model List<Fish>
@{
}


<h2 class="text-center mb-5">List of Catches</h2>

<div>
    <div class="col">
        <a class="btn btn-primary" asp-controller="Fishes" asp-action="Create">New Catch</a>

    </div>
    <div class="col">

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Method</th>
            <th>Type</th>
            <th>Place</th>
            <th>Weather</th>
            <th>Weight</th>
            <th>Image</th>
            <th>Caught At</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var fish in  Model) 
        {
            <tr>
                <td>@fish.Id</td>
                <td>@fish.Name</td>
                <td>@fish.Method</td>
                <td>@fish.Type</td>
                <td>@fish.Place</td>
                <td>@fish.Weather</td>
                <td>@fish.Weight</td>
                <td><img src="/Fish_images/@fish.ImageFileName" width="100" /></td>
                <td>@fish.CaughtAt.ToString("MM/dd/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Fishes" asp-action="Edit"
                    asp-route-id="@fish.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Fishes" asp-action="Delete"
                       asp-route-id="@fish.Id" onclick="return confirm('Are you sure ?')">Delete</a>
                </td>
            </tr>
            
        }
    </tbody>

</table>